.navegacion{
    width: 1000px;
    margin: 30px auto;
    }
.navegacion ul{
        list-style: none;
    }
.menu > li{
        display: inline-block;
    }
.menu >li >a{
        display: block;
        padding: 15px 20px;
        color: rgb(223, 220, 59);
        background: linear-gradient(blue, black);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
.menu li a:hover{
        color: wheat;
        transition: all .3s;
    }
.menu h1{
        text-align: center;
        font-size: 195%;
    }
    
    
    